body{
    margin:0;
    user-select: none;
    position: relative;
  }
/* SIDE MENU */
    .Cpanel{
      position: fixed;
      width: 20vw;
      height: 100vh;
      float:left;
      transition: 1s;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
    .Cpanel:hover{
      transition: 1s;
      -webkit-box-shadow: 5px 0px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 0px 14px 0px rgba(0,0,0,0.75);
      box-shadow: 5px 0px 14px 0px rgba(0,0,0,0.75);
    }
    .pannel_X{
      position: relative;
      width: 100%;
      height: 10vh;
      font-size:3vw;
    }
    #panel_icons i {
      line-height: 2.6;
      cursor: pointer;
      display: block;
      text-align: center;
      transition: 1s;
      }
    #panel_icons i:hover{
      color:#333333;
      transition: 1s;
    }
    .Cpanel a{
      transition: 1s;
      font-family: 'Acme';
      letter-spacing: 4px;
      text-decoration: none;
      line-height: 2.6;
      font-size:2vw;
      margin-left:12%;
    }
    .panel_butt{
        position: absolute;
        top:0.5vh;
        right:0;
        width: 3vw;
        height:6vh;
        cursor: pointer;
        z-index: 1;
        margin:2% 10% 0 0;
      }
      .bar1, .bar2, .bar3 {
        width: 3vw;
        height: 1vh;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      .change .bar1 {
        -webkit-transform: rotate(0) ;
        transform: rotate(0) ;
      }
      .change .bar2 {opacity: 1;}
      .change .bar3 {
        -webkit-transform: rotate(0) ;
        transform: rotate(0) );
      }
      .bar2 {opacity: 0;}
      .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 9px);
        transform: rotate(-45deg) translate(-9px, 9px);
      }
      .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -9px);
        transform: rotate(45deg) translate(-9px, -9px);
      }

/* ALL SECTIONS */
    .section{
      float:left;
     margin-left:20vw;
     background-color: #eee;
      /* background-color: #F1F1F1; */
      width:79.9vw;
      height: 100vh;
      display: none;
    }

/* PRODUCT */

    /* PRODUCT HEADER PANEL */
    .add_butt{
      position: relative;
      left:56vw;
      top:1vh;
      border-radius: 2px;
      font-size: 1.7vw;
      letter-spacing: 2px;
      outline:none;
    }
    #close_upload{display: inline;}
    /* PRODUCT SEARCH */
    .Search form{
        position: absolute;
        top: 1vh;
        display: block;
        margin-left: 4vw;
        transition: all 1s;
        width:50vw;
        height: 7.5vh;
        background-color:#2196F3;
        box-sizing: border-box;
        border-radius: 3px;
        border: 4px solid white;
        padding: 5px;
    }
    .Search input{
        text-align: center;
        position: absolute;
        background-color: #2196F3;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: block;
        color:white;
        border-radius: 3px;
        padding: 0 20px;
    }
    .Search .fa{
      display: inline-block;
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color:white;
        text-align: center;
        font-size: 1.4em;
        transition: all 1s;
    }
    .Search form:hover{
        cursor: pointer;
    }

    /* PRODUCT ADD FORM */
    #create_post{display: none;}
    .add_post_container{
      border:0;
      outline:0;
      height:10vh;
      color:black;
    }
    .add_post{
      position: relative;
      background-color:#eee;
      width:100vw;
      left:15vw;
      height:70vh;
      display: inline;
    }
    .upload img{
      cursor: pointer;
      margin:2vh 0 0 9vw;
      width:8vw;
      height: 11vh;
    }
    .add_post input{
      width:20vw;
      height:7vh;
      margin-top:2vh;
    }
    .add_post input[type="number"]{
      width:6vw;
    }
    .add_post input::placeholder{font-size:1.7vw;}
    .add_post textarea {
        margin:1% 0 0 0 ;
        font-size: 1vw;
        width:33%;
        height:17vh;
        resize: none;
        outline:0;
        border:0.5px solid #C6C0C0;}
    .add_post button{width:62.5%;transition: 1s;}
    #fullwindow{
      width:100vw;
      position: absolute;
      left:0;
      top:0;
      display: none;
      z-index: 1;
      overflow: none;
      height:100vh;
      background-color: black;
    }
    .selectall{
      text-decoration: none;
      font-size:1.6vw;
      margin-left: 6vw;
      color:black;
    }
    .section_select{
      width:20vw;
      height:6vh;
      font-size: 1.6vw;
      display: inline;
    }
    .currency{
      width:5vw;
      height: 5vh;
    }
    .select_category{
      width: 20vw;
      height: 53vh;
      overflow: scroll;
      float: right;
      background-color: red;
      position: absolute;
      top: 5.2vh;
      left: 30vw;
    }
    .select_category input{
      height: 2vh;
      width: 5vw;
      position: absolute;
      left: 0;
    }

    /* GALLERY IMG AT PRODUCT */
    .gallery_img{
      height: 50vh;
      width: 15vw;
      background-color: #D4DEDC;
      margin: 10vh 0 0 6vw;
      float: left;
    }
    .gallery_img button{
      height: 5vh;
    }
    .gallery_img img{
      height: 40vh;
      width: 100%;
    }
    .product_cost{
      height: 5vh;
      width: 100%;
      visibility: visible;
      text-align: center;
      opacity:1;
      transition: visibility 0.5s, opacity 0.5s linear;
      background-color: #2196F3;
    }
    .product_cost p{
      font-size:1.5vw;
      display: inline-block;
      margin-top:1%;
    }
    .trash_button{
      background-color: #B8C8C6;
      float: right;
    }
    .pencil_button{
      background-color: #B8C8C6;
      float: left;
      transition: 1s;
    }
    .pencil{
      font-size: 1.5vw;
      padding: 5px;
    }
    .product_header{
      width:100%;
      height: 10vh;
    }
    .product_space{
      width:100%;
      background-color: #eee;
      height:auto;
    }
    .logout{
      top:1.4vh;
      right:2vw;
      position: absolute;
    }
    #gallery{background-color: #eee;}

/* CATEGORY */
    .category_table td{
      width:10%;
      z-index: -1;
      font-size:2vw;
    }
    .category_header{
      z-index: 1;
      position:sticky;
      position: -webkit-sticky;
      top:0vh;
      width: 50vw;
      height: 10vh;
    }
    #cat_header_row2{
      top:-1vh;
    }
    .category_input{
      height: 6vh;
      width: 20vw;
      font-size: 1vw;
      position: absolute;
      top:2vh;
      left: 5vw;
    }
    #category_add{
      position: absolute;
      height: 6vh;
      top:2vh;
      width: 3vw;
      left: 27vw;
    }
    .category_select{
      position: absolute;
      height: 6vh;
      width: 15vw;
      top:2vh;
      left: 33vw;
    }
    #trash{
      position: absolute;
      height: 6vh;
      top:2vh;
      width: 3vw;
      left: 51vw;
    }
    .search_category{
      position: absolute;
        height: 6vh;
        width: 20vw;
        font-size: 1vw;
      top:2vh;
      left: 56vw;
    }

/* CUSTOMIZE */
    .customize_header{
      height: 10vh;
      width: 100%;
      background-color:white;
    }
    .customize{
      width:20%;
      font-size:1.7vw;
      margin:1% 0 0 4%;
      float: left;
    }
    /* banner css */
    .banner_class{
        position: absolute;
        left: 15vw;
        width: 80vw;
        height: 80vh;
      }
      #banner_input{
        margin-left: 30vw;
        height: 6vh;
      }
      #poster{
        position: absolute;
        width: 100%;
        height:60vh;
        background-size: 60vw 55vh;
        margin: 5vh 0 0 10vw;
      }
      #poster h1{
        margin-left: 22vw;
        font-size:5vw;
        color:white;
        text-shadow: 4px 5px 0px rgba(0,0,0,0.53);
      }
    /* catalog css */
    .catalog_class {
        width:72vw;
        height:70vh;
      }
      .catalog_class input{
        margin-left: 19.5vw;
        width:30vw;
        height:6vh;
        font-size:1.4vw;
      }
    /* location css */
    .location_class{
        text-align: center;
        width: 72vw;
      }
      .location_iframe{
        margin:5vh 0 0 0vw;
      }
    /* description css */
    .description_class{
        height: 95vh;
        width: 72vw;
      }
      .description_input{
        position: absolute;
      }
      .Description_admin{
        margin-top: 10vh;
        width:72vw;
        height:40vh;
        font-size: 1.7vw;
        position: relative;
      }
      .Description_admin img{
          width:30%;
          height: 40vh;
          float: left;
      }
      .decription_form{
        margin-left: 29vw;
      }
      .decription_form button{
        margin-left: 5vw;
      }
      .switch {
        margin-left: 34vw;
        position: relative;
        display: inline-block;
        width:4.5vw;
        height: 5vh;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2196F3;
        -webkit-transition: .4s;
        transition: .4s;
      }
      .slider:before {
        position: absolute;
        content: "";
        height: 4vh;
        width: 2vw;
        left: 0.3vw;
        bottom: 0.3vw;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(4vw);
        -ms-transform: translateX(4vw);
        transform: translateX(2vw);
      }
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      .slider.round:before {
        border-radius: 50%;
      }

      .description1{
        display: block;
      }
      .description2{
        display: none;
      }
    #banner_form,#location_form,#description_form,#catalog_form{display: none;margin:3% 0 0 5%;}
/* INBOX */
    .chat_list{
      position: absolute;
      background-color: white;
      width:30vw;
      height: 100vh;
      background-color: #eee;
    }
    .close_class{
      display: none;
    }
    #custom_id{
      display: none;
    }
    .inbox{
      height: 10vh;
      width: 30vw;
      border-bottom: 2px solid #D5D5D5;
      font-size: 1.2vw;
      cursor: pointer;
      transition: 0.5s;
    }
    .inbox:hover{
      background-color: #C5C5C5;
    }
    .inbox p{
      position: absolute;
      left:1vw;
      margin-top:3vh;
    }
    .inbox h6{
      position: absolute;
      right:2vw;
      margin-top:3.5vh;
    }
    .chat{
      height: 100vh;
      width: 50vw;
      background-color:#F7F7F7;
      position: absolute;
      margin-left: 30vw;
    }
    .sent_meesage_input{
      width: 50vw;
      height: 15vh;
      border:1px solid black;
      position: absolute;
      bottom:0;
      left:0;
    }
    .chat textarea{
      border:0;
      word-wrap: break-word;
      position: fixed;
      height: 14vh;
      width: 40vw;
      position: absolute;
      bottom:0;
      left:0;
      resize: none;
      outline:0;
    }
    .message_arrive {
      font-size: 1.5vw;
      float: left;
      width: 100%;
      margin:2vh 0 0 2vw;
    }
    .message_arrive p{
      margin-left: 1vw;
    }
    .message_arrive_text{
      word-wrap: break-word;
      background-color: #eee;
      width: 20vw;
      height: auto;
      border-radius: 5px;
    }
    .message_sent {
      width: 20vw;
      height: auto;
      background-color: #eee;
      border-radius: 5px;
      font-size: 1.5vw;
      float: right;
      margin:2vh 2vw 0 0;
      -webkit-box-shadow: 50px 52px 54px -31px rgba(0,0,0,0.27);
      -moz-box-shadow: 50px 52px 54px -31px rgba(0,0,0,0.27);
      box-shadow: 50px 52px 54px -31px rgba(0,0,0,0.27);
    }
    .message_send_text{
      background-color: #eee;
      width: 20vw;
      height: auto;
      border-radius: 5px;
    }
    .message_send_text p{
      margin-left: 1vw;
    }
    .send_button{
      right: 1vw;
      height: 6vh;
      width: 6vw;
      position: absolute;
      bottom:4vh;
      outline:0;
    }
/* accounts */
    .account_list{
      position: absolute;
      left: 80vw;
      height: 100vh;
      width: 20vw;
      background-color: white;
    }
    .account_list button{
      outline:0;
      width: 20vw;
      height: 8vh;
    }
    .account_but_input{
      height: 40vw;
      width: 40vw;
      position: absolute;
      text-align: center;
      left: 30vw;
    }
    .account_but_input button{
      outline:0;
      margin-top: 5vh;
      border-radius: 20px;
      width: 10vw;
      height: 8vh;
    }
    .account_but_input h3{
      position: absolute;
      left:13vw;
      margin-top: 8vh;
    }
    .account_but_input input{
      outline:0;
      margin:10vh 0 0 0;
      border-radius: 10px;
      width: 30vw;
      height: 8vh;
    }
    .usernames{
      margin-top: 2vh;
    }
    .usernames li {
      width: 18vw;
      height: 7vh;
      right:2vw;
      list-style: none;
      position: relative;
      border-bottom: 1px solid #CECECE;
    }
    .usernames li:last-child{
      border-bottom: none;
    }
    .usernames li label{
      margin-left: 5vw;
      font-size:2vw;
      cursor:pointer;
    }
    .usernames li label input{
      opacity: 0;
      cursor:pointer;
    }
    .usernames li label .check{
      position: absolute;
      top:1.5vh;
      left: 1vw;
      width: 1.5vw;
      height: 1.5vw;
      background:#C5C5C5;
      display: block;
      box-sizing: border-box;
      border-radius: 5px;
    }
    .usernames li label .check:before{
      content: '';
      position: absolute;
      top:3px;
      left:3px;
      right:3px;
      bottom:3px;
      border-radius: 5px;
      transition: 0.5s;
      transform: translateX(15vw);
    }
    .usernames li label input:checked ~ .check:before{
      background: #2196F3;
      transform: translateX(0);
    }
